.text__xs a, #text__link {
  cursor: pointer;
  color: #000;
  
  &:hover { text-decoration: underline; }
}

.text__sm { font-size: var(--font-size-sm); }
.text__xs { font-size: var(--font-size-xs); }