.text__xs a, #text__link {
  cursor: pointer;
  color: #000;
  
  &:hover { text-decoration: underline; }
}

.text__sm { font-size: var(--font-size-sm); }
.text__xs { font-size: var(--font-size-xs); }

.is-invalid {
  border: 1px solid #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

@media (min-width: 1400px) {
  #secao__login {
    padding: 0 4rem 0 4rem !important;
  }
}