section > h2, fieldset > h2 { font-weight: 600; }

.botoes__divisoria { min-width: 2rem; }

.divider__acesso {
    width: 88%;
    margin: 0 auto;
}

@media(min-width:1400px) {
    .botoes__divisoria { min-width: 4.2rem; }
}

@media(min-width:992px) {
    input[name="email_cadastrado"], input[name="senha_atual"] { width: 23.6rem; }
    .btn__salvar_alteracoes { width: var(--btn-xl); }
}

@media (min-width: 768px) {
    label[for="email_cadastrado"], label[for="senha_atual"] { margin-top: .7rem; }
}

@media (min-width: 576px) {
    .divider__acesso { width: 93%; }
    input[name="email_cadastrado"], input[name="senha_atual"] { max-width: 30rem; }
}

@media (min-width: 320px) {
    #botao__destacado { margin-left: 2.6rem; }
}