section > h2 { font-weight: 600; }

input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: .1rem;
}

label span {
    color: #e65c00;
    cursor: pointer;
}

#sair {
    color: #e65c00;
    font-size: 1.2rem;
    cursor: pointer;
}

.card__pedido {
    background-color: var(--second-internal-form);
    border: var(--form-container-border);
    border-radius: .4rem;
}

.divider {
    width: 85%;
    margin: 0 auto;
}

.divider__dados_titulo {
    width: 92%;
    margin: 0 auto;
}

.divider__dados_historico_pedidos { 
    width: 95%; 
    margin: 0 auto;
}

.icon__color {
    color: rgba(0, 0, 0, .6);
    cursor: pointer;

    &:hover { color: #000; }
}

@media (min-width: 1400px) {
    #politica_privacidade { margin-left: .1rem; }
}

@media (min-width: 1200px) {
    #salvar__alteracoes { margin: 4rem 0 !important; }
}

@media (min-width: 576px) {
    .card__pedido section { border: none !important; }

    .divider { display: none; }

    .card__pedido div {
        width: auto !important;
    }
}

@media (max-width: 576px) {
    .card__pedido section {
        border: 1px solid rgba(156, 149, 149, .6);
        border-radius: .2rem;
    }
}