section > h2 { font-weight: 600; }

.divider__dados_enderecos, 
.divider__dados_contato, 
.divider__dados_card, 
.divider__dados_card_enderecos, 
.divider__dados_card_contato { 
    margin: 0 auto; 
}

.card__enderecos, 
.card__cartoes, 
.card__telefones {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .4rem;
}

.card__enderecos, 
.card__cartoes, 
.card__telefones { 
    background-color: var(--second-internal-form); 
}

.card__enderecos p, 
.card__cartoes p, 
.card__telefones p { 
    font-size: var(--font-size-sm); 
}

.divider__dados_enderecos { width: 100%; }

.divider__dados_card_enderecos { width: 78%; }

.divider__dados_contato { width: 82%; }

.divider__dados_card_contato { width: 88%; }

.icon__color {
    color: rgba(0, 0, 0, .6);
    cursor: pointer;

    &:hover { color: #000; }
}

.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup__container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.popup__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 3.2rem;
  cursor: pointer;
}

@media (min-width: 1400px) {
   .d-xxl-flex {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}