h2 { font-weight: 600; }

input[name="opcao"] {
    width: 1.4rem;
    height: 1.4rem;
}

select[name="escolher_loja"], select[name="opcao_entrega"] {
    border: var(--input-border); 
    border-radius: .4rem;
    padding: .4rem;
    width: 100%;
}

.botoes__divisoria { min-width: 9.6rem; }

.divider__acesso {
    width: 88%;
    margin: 0 auto;
}

.info__entrega, .info__retirada {
    background-color: var(--second-internal-form);
    border: 1px solid rgba(179, 175, 175, .5);
    border-radius: .4rem;
}

.info__entrega span { cursor: pointer; }

@media (min-width: 1400px) {
    .botoes__divisoria { min-width: 18.4rem !important; }
}

@media (min-width: 1200px) {
    .botoes__divisoria { min-width: 13.2rem; }
}