h2 { font-weight: 600; }

input[name="opcao"] {
    width: 1.4rem;
    height: 1.4rem;
}

select[name="escolher_loja"], 
select[name="opcao_entrega"],
select[name="data_retirada"],
select[name="horario_retirada"] {
    border: var(--input-border); 
    border-radius: .4rem;
    padding: .4rem;
    width: 100%;
}

.botoes__divisoria { min-width: 9.6rem; }

.divider__acesso {
    width: 88%;
    margin: 0 auto;
}

.info__entrega, .info__retirada {
    background-color: var(--second-internal-form);
    border: 1px solid rgba(179, 175, 175, .5);
    border-radius: .4rem;
}

.info__entrega span { cursor: pointer; }

.modal__retirada {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal__conteudo {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
}

.btn__fechar__icone {
  position: absolute;
  top: 1.5rem;
  right: 1.2rem;
  background: rgba(0,0,0,.6);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn__salvar_informacoes {
    background-color: var(--btn-orange);
    width: var(--btn-md);
    padding: .6rem;
}

@media (min-width: 1400px) {
    .botoes__divisoria { min-width: 18.4rem !important; }
}

@media (min-width: 1200px) {
    .botoes__divisoria { min-width: 13.2rem; }
}