.main__container { 
    margin-top: 4rem; 
    margin-bottom: 6.4rem; 
}

.main__container_section {
    border: var(--form-container-border);
    border-radius: .6rem;
    padding: 2rem; 
}

.main__container_meus_enderecos { 
    background-color: var(--first-internal-form);
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .4rem;
    max-width: 94%; 
}

.main__container_conteudo {
    background-color: var(--first-internal-form);
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .4rem;
}

@media (min-width: 1400px) {
    /* acesso usuário */
    .main__container_section { padding: 4rem 9rem !important; }
    /* acesso usuário */
}

@media (min-width: 992px) {
    .main__container_meus_enderecos { max-width: 72% !important; }
}

@media (min-width: 576px) {
    /* acesso usuário */
    .main__container_section { padding: 4rem; } 
    /* acesso usuário */

    .main__container_meus_enderecos { max-width: 80%; }
}